.todo-wrapper {
  @include pxRem(padding, 20);
  @extend %flex-center;
  flex-direction: column;
  .todo-tabs {
    @include pxRem(margin, 20 0);
    @include pxRem(max-width, 400);
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
    .tab-item {
      @include pxRem(margin, 0 10);
    }
    .tab-button {
      @include pxRem(padding, 5 15);
      @include pxRem(border-radius, 3);
      border: none;
      background-color: map-get($color, white);
      color: map-get($color, text);
      transition: all 0.3s ease-in-out;
      outline: none;
      &:hover {
        color: map-get($color, primary);
      }
      &.active {
        background-color: map-get($color, primary);
        color: map-get($color, white);
      }
    }
  }
  .todo-list {
    @include pxRem(padding, 20 0);
    @include pxRem(max-width, 600);
    display: block;
    list-style: none;
    margin: 0;
    width: 100%;
    .todo-item {
      @include pxRem(padding, 10 0);
      display: block;
      width: 100%;
    }
    .todo-container {
      @include pxRem(padding, 15 6);
      @include pxRem(border-radius, 5);
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.18);
      label {
        margin: 0;
      }
    }
  }
} 
